<h1>File Upload</h1>

<form action="/" method="POST" enctype="multipart/form-data">
	<label class="btn btn-lg btn-default btn-file">
		Browse for Image File<input type="file" name="myFile" class="hidden">
	</label>

	<input type="submit" class="btn btn-lg btn-success">
</form>
